@charset "utf-8";
/* 타이포 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@font-face {
    font-family: Lato-Regular;
    src: url(../assets/font/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Thin;
    src: url(https://fsclass-n.github.io/jfs/assets/font/Lato-Thin.ttf);
}
.ls10px {
    /* 10/16px = 0.625rem */
    letter-spacing: 0.625rem; /* ls0.625rem */
}

/* 공통 */
.container {
    max-width: 980px;
}

/* 배경 이미지 */
#home .bgimg {
    /* /jfs/ -> ../ */
    background: url(../assets/img/light.jpg) no-repeat 50% 50% / cover fixed;
}
#home.dark .bgimg {
    filter: brightness(40%);
    background-image: url(../assets/img/dark.jpg);
}
.parallax-bg {
    height: 400px;
    background: no-repeat 50% 50% / cover fixed;
}
#about .parallax-bg {
    background-image: url(../assets/img/bg-about.jpg);
    background-position: 50% 70%;
}
#work .parallax-bg {
    background-image: url(../assets/img/parallax2.jpg);
}
#contact .parallax-bg {
    background-image: url(../assets/img/parallax3.jpg);
    background-position: 50% 100%;
}

/* 애니메이션 */
.circle_ani {
    width: 135px;
    height: 136px;
    transition: linear 5s;
    animation: circle 50s linear infinite;
}
@keyframes circle {
    0% {
        transform: rotate(0deg) scale(3);
    }
    100% {
        transform: rotate(720deg) scale(3);
    }
}

/* 헤더 배경색 지정 */
#header {
    background: transparent;
    transition: 0.3s;
}
#header a {
    color: #eee;
    transition: 0.3s;
}
#header a:hover {
    color: #090505;
}
#header.active {
    background: #fff;
    /* 헤더 박스 그림자 */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#header.active a {
    color: #222;
    transition: 0.3s;
}
#header.active a:hover {
    color: #111;
}

/* 텍스트 그림자 */
#home.dark h2 {
    text-shadow: 1px 1px 5px red, 0 0 25px red, 0 0 35px red;
}

/* 내비게이션 버튼 클릭하여 섹션 이동 시
섹션의 제목 영역이 헤더에 가려지는 현상 해결! */
#counterWrap {
    /* 카운터와 #work 섹션 사이 벌어진(흰색) 부분 해결! */
    transform: translateY(56px);
}

#about::before,
#work::before,
#contact::before {
    display: block;
    content: "";
    /* ::before 높이를 헤더의 높이 만큼 지정한다. */
    height: 56px;
}

/* 프로필 소개 문단 */
.basic p {
    text-align: justify;
    word-break: break-all;
}

/* 나의 사진 */
.myimg {
    width: 425px;
    height: 280px;
}

/* 진행률 바(progress-bar) */
.progress {
    height: 35px;
}
.progress:first-of-type .progress-bar {
    width: 85%;
}
.progress:last-of-type .progress-bar {
    width: 95%;
}

/* 카운터 */
.counter {
    opacity: 1;
    transition: opacity 0.5s;
}
.counter::after {
    content: '+';
}

.counter.active {
    opacity: 1;
}

/* 작품 크기 */
.portfolio li {
    /* aspect-ratio: 가로/세로; */
    aspect-ratio: 9/6;
}


/* 맵 */
.map {
    height: 160px;
}

/* 폼(양식) */
input {
    height: 45px;
}
#name,
#email {
    width: calc(50% - 8px);
}
textarea {
    width: 100%;
    height: 200px;
    resize: none;
}
#btnForm {
    width: auto;
}
