@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
/* 웹 폰트: 방법I - CDN */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 웹 폰트: 방법II - @font-face -> CDN❌ */
@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Regular;
    /* 상대주소 */
    /* 
        / 작업 영역 폴더(root)
        ./ 현재위치, 한 번만
        ../ 부모위치, 여러 번
        예) a폴더>b폴더>c폴더: 파일.html
        예) a폴더: ../../이미지.jpg
    */
    /* 내 컴퓨터에서는 */
    src: url(../assets/font/Lato-Regular.ttf);
}
@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Thin;
    /* 절대주소 */
    /* URL: 프로토콜://도메인/폴더경로/파일 */
    src: url(https://fsclass-n.github.io/jfs/assets/font/Lato-Thin.ttf);
}

/* reset(초기화) */
* {
    box-sizing: border-box;
}
:root {
    /* 페이지 내에서 이동 시 부드러운 움직임 효과 */
    scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
iframe {
    width: 100%;
    height: 100%;
}
button {
    border: none;
    cursor: pointer;
}
button:hover {
    background: #ccc;
}

/* typography(타이포그래피) */
/* :root는 html태그를 선택한다. */
:root {
    font-size: 10px;
}
body {
    /* 
        단위: rem은 :root에서 지정한 크기의 배수
        예) 10px * 1.5배 -> 15px
    */
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
    color: #777;
}
h2 {
    font-weight: 400;
    font-size: 3.6rem;
    color: #fff;
    /* 글자사이 간격: 자간 */
    letter-spacing: 1rem; /* ls */
    text-transform: uppercase; /* tt */
}
h3 {
    font-size: 2.4rem;
}
header a {
    color: #f3f3f3;
}
footer a,
footer p {
    color: #fff;
}
/* a태그는 글자색의 경우 a태그에 직접 지정(상속되지 않는다) */
footer .top-btn a {
    color: #333;
}
footer .sns {
    margin: 24px;
}
footer .sns i {
    font-size: 2.4rem;
    margin: 0 -3px;
}
#contact a {
    color: #777;
}
#contact button {
    color: #fff;
}
#contact .addr {
    font-size: 1.8rem;
}
textarea {
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
}
/* 가상 요소 선택자
    ::placeholder
*/
::placeholder {
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
    color: #ccc;
}

/* common(공통) */
h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* trft */
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h3 {
    text-align: center;
    margin: 64px 0 10px;
}
h3 + p {
    text-align: center;
}

/* header area */
header {
    z-index: 99999;
    position: fixed; /* pof */
}
header .gnb ul {
    display: flex;
}
header .gnb li a {
    display: inline-block;
    padding: 8px 16px;
}
header .gnb li a:hover {
    background: #333;
}
header .gnb li i {
    margin-right: 8px;
}

/* footer area */
footer {
    background: #555;
    /* 푸터 안의 인라인 요소는 모두 가운데로(배치) */
    text-align: center;
    padding: 100px;
}
footer:hover {
    background: #111;
}
/* to the top button */
footer .top-btn {
    display: inline-block;
    background: #ddd;
    padding: 8px 16px;
}
footer .top-btn i {
    margin-right: 8px;
}

/* about ~ contact section common area */
.parallax-bg {
    position: relative;
    height: 400px;
    background: no-repeat 50% 50% / cover fixed;
}
.container {
    width: 900px;
    margin: 48px auto 96px;
    text-align: center;
}
button {
    background: #f1f1f1;
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 5px;
}

/* 모든 장치: 데스크탑(1920px) */
/* work section area: work.html */
#work .parallax-bg {
    background-image: url(/jfs/assets/img/parallax2.jpg);
}
#work .portfolio {
    display: flex;
    gap: 16px;
}
#work .portfolio li {
    width: 213px;
    height: 162px;
}
#shadow {
    margin: 64px 0 0;
    width: 200px;
    height: 50px;
    background: inherit; /* 상속 */
    color: #000;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: 0.2s ease-out;
}

#shadow:hover {
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

/* 최대 1024px -> 1024px 이하의 장치: 테블릿(768px), 폰(360px) */
@media (max-width: 1024px) {
    #work .portfolio {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 0 24px;
    }
    #work .portfolio li {
        flex: 40%;
        /* width: 50%; */
        height: auto;
    }
}
/* 최대 768px -> 768px 이하의 장치: 폰(360px) */
@media (max-width: 768px) {
    /* CSS 기록 */
    body {
        background: lightgoldenrodyellow;
    }
}
