@charset "utf-8";
/* 웹 폰트: 방법I - CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 웹 폰트: 방법II - @font-face -> CDN❌ */
@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Regular;
    /* 상대주소 */
    src: url(/assets/font/Lato-Regular.ttf);
}
@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Thin;
    /* 절대주소 */
    src: url(https://fsclass-n.github.io/jfs/assets/font/Lato-Thin.ttf);
}

/* reset(초기화) */
* {box-sizing: border-box;}
body,h1,h2,h3,p,ul {
    margin: 0;
}
ul {padding: 0; list-style:none;}

/* typography(타이포그래피) */
body {
    /* font-family: "Lato-Regular", sans-serif; */
}
h2.noto {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    /* 글자사이 간격: 자간 */
    letter-spacing: 10px; /* ls */
    background: #404040;
    /* 일반적으로 좌우패딩을 상하보다 많이 준다. */
    padding: 8px 24px 10px 30px;
    text-transform: uppercase; /* tt */
}
h2.lato {
    font-family: "Lato-Regular", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    /* 글자사이 간격: 자간 */
    letter-spacing: 10px; /* ls */
    background: #404040;
    /* 일반적으로 좌우패딩을 상하보다 많이 준다. */
    padding: 8px 24px 10px 30px;
    text-transform: uppercase; /* tt */
}


/* common(공통) */
h2 {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* trft */
}


#home {
    /* 뷰포트 크기로 높이 지정 */
    height: 100vh;
    background: url(../assets/img/marita-kavelashvili-ugnrXk1129g-unsplash.jpg) no-repeat 50% 50%/cover;
}
